* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.formulario-contato {
    margin-top: 150px;
}

.navbar {
    padding: 25px 0;
}

.navspace {
    padding-top: 90px;
}

.sect-sobre {
    padding-top: 40px;
}

.sobre-text-area {
    height: 100%;
}

.sobre-img-area {
    height: 100%;
}

.imagens {
    width: 100%;
}

.rodape {
    background-color: black;
    padding-bottom: 100px;
}

.frame-mapa {
    height: 500px;
    width: 500px;
}


/* Adicione ao seu arquivo CSS */

@media (max-width:768px) {
    .frame-mapa {
        height: 350px;
        width: 350px;
        margin: auto;
    }
}

@media (min-width: 768px) {
    .full-height {
        height: 80vh;
        /* Altura da tela inteira */
        display: flex;
        align-items: center;
        /* Centraliza verticalmente */
        justify-content: center;
        /* Centraliza horizontalmente */
    }
    .frame-mapa {
        height: 500px;
        width: 500px;
    }
}